
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #888;
    
}
.resume-container{
    height: 2550px;

    padding: 0cm 2cm;
    width: 2000px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    font-family: 'Nanum Myeongjo', serif;
}
.first-word{
    font-style: italic;
    color: red;
    font-size: 27px;
    font-family: 'Nanum Myeongjo', serif;
}